.video-box {
  position: relative;
  width: 100%;
  height: 500px;
  background: black;
  border-radius: 10px;
  overflow: hidden;
}

/* iframe */
.video-box iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* click layer */
#clickLayer {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: none;
  background: transparent;
}

/* overlay PALING ATAS */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 9999; /* 🔥 super tinggi */

  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: auto;
}

/* tombol */
#playBtn {
  padding: 14px 22px;
  background: red;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
